---
import Layout from '../layouts/Layout.astro';
import AdminDashboard from '../components/admin/AdminDashboard';
---

<Layout title="Command Center | THE BASE">
  <div class="min-h-screen bg-background p-4 md:p-8">
    <div class="max-w-7xl mx-auto">
      <AdminDashboard client:only="react" />
    </div>
  </div>
</Layout>
